In [1]:
import fxcmpy
import socketio

In [2]:
fxcmpy.__version__

'1.2.6'

In [3]:
print(socketio.__version__)

4.5.1

In [4]:
TOKEN = 'b199bb5a15fa26957990a3fb823a51bd473cca55'

In [5]:
con = fxcmpy.fxcmpy(access_token=TOKEN, log_level='error', server='demo', log_file='log.txt')

In [9]:
print(con.get_instruments())

['EUR/USD', 'USD/JPY', 'GBP/USD', 'USD/CHF', 'EUR/CHF', 'AUD/USD', 'USD/CAD', 'NZD/USD', 'EUR/GBP', 'EUR/JPY', 'GBP/JPY', 'CHF/JPY', 'GBP/CHF', 'EUR/AUD', 'EUR/CAD', 'AUD/CAD', 'AUD/JPY', 'CAD/JPY', 'NZD/JPY', 'GBP/CAD', 'GBP/NZD', 'GBP/AUD', 'AUD/NZD', 'USD/SEK', 'EUR/SEK', 'EUR/NOK', 'USD/NOK', 'USD/MXN', 'AUD/CHF', 'EUR/NZD', 'USD/ZAR', 'USD/HKD', 'ZAR/JPY', 'USD/TRY', 'EUR/TRY', 'NZD/CHF', 'CAD/CHF', 'NZD/CAD', 'TRY/JPY', 'AUS200', 'ESP35', 'FRA40', 'GER30', 'HKG33', 'JPN225', 'NAS100', 'SPX500', 'UK100', 'US30', 'Copper', 'CHN50', 'EUSTX50', 'USDOLLAR', 'US2000', 'USOil', 'UKOil', 'SOYF', 'NGAS', 'WHEATF', 'CORNF', 'Bund', 'XAU/USD', 'XAG/USD', 'EMBasket', 'JPYBasket', 'BTC/USD', 'BCH/USD', 'ETH/USD', 'LTC/USD', 'XRP/USD', 'CryptoMajor', 'EOS/USD', 'XLM/USD', 'USEquities']

In [17]:
data = con.get_candles('EUR/USD', period='H1', number=250)

In [15]:
data.head()

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2020-04-08 14:00:00,1.08801,1.08630,1.08864,1.08527,1.08809,1.08638,1.08872,1.08533,25049
2020-04-08 15:00:00,1.08630,1.08635,1.08831,1.08588,1.08638,1.08641,1.08836,1.08594,25701
2020-04-08 16:00:00,1.08635,1.08632,1.08658,1.08505,1.08641,1.08641,1.08663,1.08511,19503
2020-04-08 17:00:00,1.08632,1.08648,1.08668,1.08603,1.08641,1.08665,1.08673,1.08609,10416
2020-04-08 18:00:00,1.08648,1.08617,1.08725,1.08606,1.08665,1.08623,1.08732,1.08612,12751